{% load staticfiles %}

{% block side_navbar %}
	<div class="col-sm-3 col-md-3 sidebar">
		<ul class="nav nav-sidebar">
			<li>
				<form class="navbar-form form-inline" action="{% url 'search' %}" method="get">
				  <input class="form-control" rows="1" name="search_keywords" placeholder="Search song here..."></textarea>
				  <button type="submit" class="btn"><span class="glyphicon glyphicon-search search-icon" aria-hidden="true"></span></button>
				</form>
			</li>
			<li>
				<a href="{% url 'index' %}"><span class="sidebar-icon glyphicon glyphicon-home" aria-hidden="true"></span>Home</a>
			</li>
			{% if user.is_authenticated %}
            <!-- TODO: only show this if user is logged in -->
			<li>
				<a href="{% url 'profile_page' %}"><span class="sidebar-icon glyphicon glyphicon-user" aria-hidden="true"></span>My Profile</a>
			</li>
			<li>
				<a href="{% url 'my_song_page' %}"><span class="sidebar-icon glyphicon glyphicon-music" aria-hidden="true"></span>My Songs</a>
			</li>
			<li>
				<a href="{% url 'favorite_song_page' %}"><span class="sidebar-icon glyphicon glyphicon-headphones" aria-hidden="true"></span>My Favorite Songs</a>
			</li>
			<li>
				<a href="{% url 'my_playlist_page' %}"><span class="sidebar-icon glyphicon glyphicon-folder-open" aria-hidden="true"></span>My Playlists</a>
				<ul id="sidebar-playlists-list" class="nav nav-sidebar">
					{% for playlist in playlists %}
					<li>
						<a href="{% url 'playlist_page' playlist_id=playlist.id %}">
						<span class="sidebar-icon glyphicon glyphicon-list" aria-hidden="true"></span>{{playlist.title}}</a>
					</li>
					{% endfor %}
				</ul>
			</li>
			{% endif %}
		</ul>
	</div>
{% endblock %}
