{% load staticfiles %}

{% block top_navbar %}
    <nav id="main-navbar" class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a id="logo-container" href="{% url 'index' %}">
              <span id="website-logo-icon" class="sidebar-icon glyphicon glyphicon glyphicon-cd" aria-hidden="true"></span>
			<!--<img id="logo-img" src="{% static 'img/logo.gif' %}"></img>-->
			<span id="logo-title">Croaka</span>
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
				<li id="profile-picture-thum-container-navbar">
                    {% with user.id|stringformat:"s" as user_id %}
					<div id="profile-picture-thumb" style="background-image:url({% static 'img/profiles/'|add:user_id|add:'_'|add:user.username|add:'.jpg' %});"></div>
				    {% endwith %}
                </li>
                <li class="dropdown navbar-dropdown">
					<div id="dLabel" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						<div class="dropdown-title">
							Welcome back, <span id="top-navbar-username">{{ user.username }}</span> !
						</div>
						<span class="caret"></span>
					</div>
					<ul class="dropdown-menu" aria-labelledby="dLabel">
						<li><a href="{% url 'admin_add' %}">Add a Song</a></li>
						<li><a href="{% url 'profile_page' %}">My Profile</a></li>
						<li><a href="{% url 'logout' %}">Log Out</a></li>
					</ul>
				</li>
                {% else %}
               <div id="login-title">
                   <a href="{% url 'login' %}">Login</a> or <a href="{% url 'register' %}">Register</a>
               </div>
                {% endif %}
            </ul>
        </div>
      </div>
    </nav>
{% endblock %}
