/* color palete
dark brown: #9E6B4F;
greyish brown: #6D5E4D;
light brown: #F7D8B9;
dark green: #1D2A1B;



*/

/* ---- Main Frame CSS ---- */
body{
    font-family:'Open Sans', sans-serif;
    background-color:#f5f5f5;
}

a{
    color:#A48CD2;
}

a:focus, a:hover {
    color: #A48CA0; /* Color when it's hovered */
    text-decoration: none;
}

button{
    border: none;
    border-radius: 0px;
    background-color: #A48CD2;
    color: #fff;
    padding: 5px 10px 5px 10px;
}

button:hover{
    background-color:#A48CA0;
    color: #fff;
}

.btn-primary {
    color: #fff;
    background-color: #A48CD2;
    border: none;
}

.btn-primary:hover{
    color: #fff;
    background-color: #A48CA0; /* Color when it's hovered */
    border: none;
    color: #fff;
}

.btn-delete{
    color: #fff;
    background-color: #D9534F;
    border-color: #ccc;
}

.btn-delete:hover{
    background-color:#A48CA0;
    color: #fff;
}

.main-container{margin-top: 56px;}
@media (min-width: 768px){.col-sm-offset-right-3{margin-right: 25%;}}
@media (min-width: 992px){.col-md-offset-right-3{margin-right: 16.66666667%;}}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td,
.table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    border: none;
}

/* ---- Landing Page Css ---- */
#landing-page-btn{
    font-size: 17px;
}

header#landing-page{
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
}

header .header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
}

header .header-content .header-content-inner h1 {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
}

header .header-content .header-content-inner hr {
  margin: 30px auto;
}

header .header-content .header-content-inner p {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
  header .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
  }
  header .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  header .header-content .header-content-inner h1 {
    font-size: 50px;
  }
  header .header-content .header-content-inner p {
    font-size: 18px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

section.bg-primary{background-color:#333644;}

/* ---- LogIn and Register Page Css ----*/
.help-text{font-size: 12px;font-style: italic;}

/* ---- Index Page Css ---- */
#tag-img>a:hover {
    text-decoration: none;
}

#tag-img:hover{
    opacity: 0.5;
}
#tag-img {
    float:left;
    position: relative;
    width: 100%;
    padding-bottom : 80%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    border-radius:1px;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
}

#tag-value{
    font-size: 2vw;
    color: #fff;
    top: 50px;
    display: block;
    position: relative;
}

a#logo-container{
    margin-left:40px;
    color:#333644;
}
a#logo-container:hover{
    text-decoration: none;
    color:#333644;
}
#logo-img{
    height: 50px;
    width: auto;
    padding: 5px;
}
#logo-title{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.sidebar{
    background-color:#333644;
    border:none;
}
  
@media (max-width: 768px){
    .sidebar{
        display: block;
    }
}
.nav-sidebar>li>a{
    color:#fff;
}
.nav-sidebar>li>a:hover{
    background-color:#A48CD2;
    color:#fff;
}

.sidebar-header{
	padding-bottom: 9px;
    margin: 10px 0 5px;
    border-bottom: 1px solid #ddd;
}

.sidebar-right{
	position: fixed;
    top: 51px;
    bottom: 0;
    right: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-left: 1px solid #eee;
}

span.sidebar-icon{
    margin-right: 10px;
    padding: 5px;
    border: 1.5px solid #fff;
    border-radius: 20px;
}

#website-logo-icon{
    color: #A48CD2;
    font-size: 30px;
}

.navbar-dropdown{
	display:block;
	padding-top:15px;
	padding-bottom:15px;
	color: #333;
    font-weight: bold;
}

#main-navbar{
    background-color: #fff;
    border-bottom:solid 1px;
    border-color: #f5f5f5;
}

#top-navbar-username{
    color: #A48CD2;
    font-weight:bold;
}

.dropdown-title{display: inline-block;}
.navbar-right{margin-right:0px;}

#login-title{
    color: #333;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;
}

.tab-content{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

#login-register-container{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 1px;
    width:400px;
}

#sidebar-playlists-list{
    margin-left: 0px;
    margin-right: 0px;
}

ul#sidebar-playlists-list>li>a {
    background-color:#333645;
    padding-left: 35px;
}

ul#sidebar-playlists-list>li>a:hover {
    background-color: #A48CD2;
}

/* ---- Admin Page CSS ---- */
#lyricForm{
    height:auto;
    font-family: "Courier New", Courier, monospace;
    white-space: pre;
    min-height:300px;
}

.lyric-edit-btn-container{
    padding-left:1px;
    margin-top:2px;
    margin-bottom:2px;
}

.lyric-edit-btn{
    border-radius:2px;
}

/* ---- Listing Page CSS ---- */
.song-listing-table>tbody>tr>td{
	border: 0;
}

.song-listing-table>thead>tr>th{
	border:0;
}

.pagination>li>a{
	border:0;
}

/* ---- My Song Page ---- */
.my-page-add-link{float:right;}

/* ---- Song Page CSS ---- */
iframe.youtube-video{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


#song-right-ctrl-bar{
    position:relative;
}
@media (min-width: 768px){
#song-right-ctrl-bar{
    list-style: none;
    position: fixed;
    top: 60px;
    right: 0;
    z-index: 1000;
    display: block;
    padding: 10px 0px 0px 10px;
    background-color: #f5f5f5;
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
}

#song-ctrl-panel-list{    
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#song-ctrl-panel{
    margin-left: 5px;
    margin-right: 5px;
}

.song-note-ctrl{
	font-size: 30px;
    text-align: center;
}

#current-note{
	color: #A48CD2;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    min-width: 40px;
    display: inline-block;
}

.thumb-ctrl{
	text-align: center;
}

#user-thumbs-count{
    font-size: 15px;
    margin-right:5px;
    margin-left:5px;
}

#user-thumb{
    font-size: 30px;
    margin-right:5px;
    margin-left:5px;
    cursor:pointer;
}

.playlist-modal-dialog{
    top:50px
	margin: auto;
}

#playlist-delete-btn{
    float:right;
}

.song-page-subtitle>h6,.thumbs-template{
	display:inline;
}


.song-page-subtitle>.thumbs-template>p,span{
	display:inline;
}

.song-ctrl-btn{
	background-color: #ddd;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.chord-seg{
	color: #78a543; /*#EC9200;*/
    font-weight:bold;
	display: inline-block;
}

.chord-line{
    color: #A48CD2;
}

.lyric-line{
	font-family: "Courier New", Courier, monospace;
}

.chord-line{
	font-family: "Courier New", Courier, monospace;
}

.text-seg{
	display: inline-block;
}

.text-line{
    font-family: "Courier New", Courier, monospace;
    white-space: pre;
    color: #333;
    font-weight: normal;
}

textarea.lyric-text-area{
	font-family: "Courier New", Courier, monospace;
	white-space: pre;
}

.chord-trans-btn{
	background-color: #eee;
	width: 40px;
    text-align: center;
    cursor:pointer;
	padding: 2px 10px 2px 10px;
    margin: 0px 2px 0px 2px;
    border-radius: 2px;
    font-weight: 600;
}

.chord-trans-btn:hover{
	background-color:#EC9200;
	color:#fff;
}

.get-text-btn{
	background-color:#1C153F;
	color:#BDCED7;
	width:90px;
	text-align:center;
	cursor:pointer;
	padding: 2px 10px 2px 10px;
    margin: 0px 0px 10px 0px;
    border-radius: 2px;
}

.get-text-btn:hover{
	background-color:#EC9200;
	color:#fff;
}

#song-lyric-temp{
	display: none;
}

#song-base-note-template{
	display: inline;
}

.song-ctrl-list{
	display:block;
    position: relative;
	padding: 5px 15px 5px 15px;
}

.list-inline{margin-left:0px;}

.list-inline>li{
    cursor: pointer;
    display: inline-block;
    background-color: #A48CD2;
    color: #fff;
    margin: 0px 1.5px 0px 0px;
    padding: 2px 5px 2px 5px;
    font-size: 13px;
}

.playlists-container{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 1px;
}


.playlist-name{

}

/* ---- Profile Picture ---- */
.profile-info-container{
    margin: 5px;
    padding: 5px;
    /* font-size: 15px; */
    line-height: 25px;
}

.profile-picture-container{
    height:200px;
    width:200px;
    border-radius: 100px;
    margin: 5px;
    overflow:hidden;
    position:relative;
}

#profile-picture{
    height:200px;
    width:200px;
    background-size: contain;
    background-position:center center;
    background-repeat:no-repeat;
    overflow:hidden;
}

#profile-picture-edit-btn{
    position: absolute;
    right: 5%;
    top: 85%;
    opacity: 0.6;
    color: #aaa;
    font-size: 200%;
}

#profile-picture-edit-btn:hover{
    opacity: 1;
    color:#428bca;;
}

#profile-picture-edit-btn-text{
    font-size:14px;
}

#profile-picture-thum-container{
    margin-left:3px;
    margin-right:3px;
    padding:1px;
    overflow:hidden;
    border: 1.5px solid #333644;
    border-radius:50px;
    background-color:#FFF;
    float:left;
}

#profile-picture-thum-container-navbar {
    margin-top:5px;
    margin-left:3px;
    margin-right:3px;
    padding:1px;
    overflow:hidden;
    /*border: 1.5px solid #333644;*/
    border-radius:50px;
    background-color:#FFF;
    float:left;
}

#profile-picture-thumb{
    height:30px;
    width:30px;
    background-size: 30px auto;
    background-position: center center;
    background-repeat:no-repeat;
    background-color:#FFF;
    border-radius:50px;
    overflow:hidden;
    display: inline-block;
}

#username-container{
    vertical-align: super;
    color:
}