{% extends 'base.html' %}

{% block content %}
    <h2 class="sub-header">Song Edit Form</h2>

    <!-- Input Form for new lyric -->
    <form method="post" action="{% url 'admin_update' song_id=song.id%}"> {% csrf_token %}
      <div class="form-group">
        <label for="title">Title:</label>
        <textarea class="form-control" id="title" name="title" rows="1" required="required">{{ song.title }}</textarea>
      </div>
      <div class="form-group">
        <label for="artist">Artist(s):</label>
        <textarea class="form-control" id="artist" name="artist" rows="1">{{ song.artist }}</textarea>
      </div>
      <div class="form-group">
        <label for="writer">Writer(s):</label>
        <textarea class="form-control" id="writer" name="writer" rows="1">{{ song.writer }}</textarea>
      </div>
      <div class="form-group">
        <label for="album">Album:</label>
        <textarea class="form-control" id="album" name="album" rows="1">{{ song.album }}</textarea>
      </div>

      <!-- Base Note Option -->
      <label for="note_radio">Choose Root Note for the song:</label>
      <br>
      <label class="radio-inline">
        <input type="radio" {% ifequal song.root_note_id 1 %}checked{% endifequal %} name="root_note_id" id="note_radio" value="1" required="required"> C
      </label>
      <label class="radio-inline">
        <input type="radio" {% ifequal song.root_note_id 2 %}checked{% endifequal %} name="root_note_id" id="note_radio" value="2" required="required"> C#
      </label>
      <label class="radio-inline">
        <input type="radio" {% ifequal song.root_note_id 3 %}checked{% endifequal %} name="root_note_id" id="note_radio" value="3" required="required"> D
      </label>
      <label class="radio-inline">
        <input type="radio" {% ifequal song.root_note_id 4 %}checked{% endifequal %} name="root_note_id" id="note_radio" value="4" required="required"> D#
      </label>
      <label class="radio-inline">
        <input type="radio" {% ifequal song.root_note_id 5 %}checked{% endifequal %} name="root_note_id" id="note_radio" value="5" required="required"> E
      </label>
      <label class="radio-inline">
        <input type="radio" {% ifequal song.root_note_id 6 %}checked{% endifequal %} name="root_note_id" id="note_radio" value="6" required="required"> F
      </label>
      <br>
      <label class="radio-inline">
        <input type="radio" {% ifequal song.root_note_id 7 %}checked{% endifequal %} name="root_note_id" id="note_radio" value="7" required="required"> F#
      </label>
      <label class="radio-inline">
        <input type="radio" {% ifequal song.root_note_id 8 %}checked{% endifequal %} name="root_note_id" id="note_radio" value="8" required="required"> G
      </label>
      <label class="radio-inline">
        <input type="radio" {% ifequal song.root_note_id 9 %}checked{% endifequal %} name="root_note_id" id="note_radio" value="9" required="required"> G#
      </label>
      <label class="radio-inline">
        <input type="radio" {% ifequal song.root_note_id 10 %}checked{% endifequal %} name="root_note_id" id="note_radio" value="10" required="required"> A
      </label>
      <label class="radio-inline">
        <input type="radio" {% ifequal song.root_note_id 11 %}checked{% endifequal %} name="root_note_id" id="note_radio" value="11" required="required"> A#
      </label>
      <label class="radio-inline">
        <input type="radio" {% ifequal song.root_note.id 12 %}checked{% endifequal %} name="root_note_id" id="note_radio" value="12" required="required"> B
      </label>
      <br>
      <br>

      <div class="form-group">
        <label for="lyricForm">Lyric with Chord:</label>
        <textarea class="form-control lyric-text-area" id="lyricForm" name ="lyric" rows="20" required="required">{{ lyric_plain_text }}</textarea>
      </div>

      <!-- Song Categories Option -->
      <label for="categories_checkbox">Choose tag(s) for the song:</label>
      <br>
      <label class="checkbox-inline">
        <input type="checkbox" {% ifequal category.category_id 1 %}checked{% endifequal %} id="categories_checkbox" name="category_id" value="1"> Pop
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" {% ifequal category.category_id 2 %}checked{% endifequal %} id="categories_checkbox" name="category_id" value="2"> Jazz
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" {% ifequal category.category_id 3 %}checked{% endifequal %} id="categories_checkbox" name="category_id" value="3"> Blues
      </label>
       <label class="checkbox-inline">
        <input type="checkbox" {% ifequal category.category_id 4 %}checked{% endifequal %} id="categories_checkbox" name="category_id" value="4"> rnb
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" {% ifequal category.category_id 5 %}checked{% endifequal %} id="categories_checkbox" name="category_id" value="5"> Classic
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" {% ifequal category.category_id 6 %}checked{% endifequal %} id="categories_checkbox" name="category_id" value="6"> Religious
      </label>
      <br>
      <br>

      <div class="form-group">
        <label for="youtube">Youtube Link:</label>
        <textarea class="form-control" id="youtube" name="youtube" rows="1">{{ song.youtube }}</textarea>
      </div>
      <div class="form-group">
        <label for="itunes">Itunes Link:</label>
        <textarea class="form-control" id="itunes" name="itunes" rows="1">{{ song.itunes }}</textarea>
      </div>
      <div class="form-group">
        <label for="spotify">Spotify Link:</label>
        <textarea class="form-control" id="spotify" name="spotify" rows="1">{{ song.spotify }}</textarea>
      </div>
      <div class="form-group">
        <label for="google_play">Google Play Link:</label>
        <textarea class="form-control" id="google_play" name="google_play" rows="1">{{ song.google_play }}</textarea>
      </div>

      <!--Set song as public-->
      <div class="form-group">
        <label for="note_radio">Set your song as public or private:</label>
        <p><i>Set your song as public or private. Public song is discoverable among Croaka users. Set song as private to keep it for yourself.</i></p>
        <label class="radio-inline">
          <input type="radio" name="is_public" id="is_public_radio" {% ifequal song.is_public 'true' %}checked{% endifequal %} value="true" required="required">Public
        </label>
        <label class="radio-inline">
          <input type="radio" name="is_public" id="is_public_radio" {% ifequal song.is_public 'false' %}checked{% endifequal %} value="false" required="required">Private
        </label>
      </div>

      <button type="submit" class="btn" value="update" name="action">Update</button>
      <button type="submit" class="btn btn-delete" value="delete" name="action">Delete</button>
    </form>

{% endblock %}