{% extends 'base.html' %}

{% block content %}
    <h2 class="sub-header">Song Add Form</h2>

    <!-- Input Form for new lyric -->
    <form method="post" action="{% url 'admin_add' %}"> {% csrf_token %}
      <div class="form-group">
        <label for="title">Title:</label>
        <textarea class="form-control" id="title" name="title" rows="1" placeholder="Write song title here" required="required"></textarea>
      </div>
      <div class="form-group">
        <label for="artist">Artist(s):</label>
        <textarea class="form-control" id="artist" name="artist" rows="1" placeholder="Write song artist here"></textarea>
      </div>
      <div class="form-group">
        <label for="writer">Writer(s):</label>
        <textarea class="form-control" id="writer" name="writer" rows="1" placeholder="Write song writer here"></textarea>
      </div>
      <div class="form-group">
        <label for="album">Album:</label>
        <textarea class="form-control" id="album" name="album" rows="1" placeholder="Write song album here"></textarea>
      </div>

      <!-- Base Note Option -->
      <label for="note_radio">Choose Root Note for the song:</label>
      <br>
      <label class="radio-inline">
        <input type="radio" name="root_note_id" id="note_radio" value="1" required="required"> C
      </label>
      <label class="radio-inline">
        <input type="radio" name="root_note_id" id="note_radio" value="2" required="required"> C#
      </label>
      <label class="radio-inline">
        <input type="radio" name="root_note_id" id="note_radio" value="3" required="required"> D
      </label>
      <label class="radio-inline">
        <input type="radio" name="root_note_id" id="note_radio" value="4" required="required"> D#
      </label>
      <label class="radio-inline">
        <input type="radio" name="root_note_id" id="note_radio" value="5" required="required"> E
      </label>
      <label class="radio-inline">
        <input type="radio" name="root_note_id" id="note_radio" value="6" required="required"> F
      </label>
      <br>
      <label class="radio-inline">
        <input type="radio" name="root_note_id" id="note_radio" value="7" required="required"> F#
      </label>
      <label class="radio-inline">
        <input type="radio" name="root_note_id" id="note_radio" value="8" required="required"> G
      </label>
      <label class="radio-inline">
        <input type="radio" name="root_note_id" id="note_radio" value="9" required="required"> G#
      </label>
      <label class="radio-inline">
        <input type="radio" name="root_note_id" id="note_radio" value="10" required="required"> A
      </label>
      <label class="radio-inline">
        <input type="radio" name="root_note_id" id="note_radio" value="11" required="required"> A#
      </label>
      <label class="radio-inline">
        <input type="radio" name="root_note_id" id="note_radio" value="12" required="required"> B
      </label>
      <br>
      <br>

      <div class="form-group">
        <label for="lyricForm">Lyric with Chord:</label>

        <div class="lyric-edit-btn-container">
          <button class="lyric-edit-btn" type="button" onclick="appendSpecChar(':t:');">Title</button>
          <button class="lyric-edit-btn" type="button" onclick="appendSpecChar(':i:');">Intro</button>
          <button class="lyric-edit-btn" type="button" onclick="appendSpecChar(':c:');">Chord</button>
          <button class="lyric-edit-btn" type="button" onclick="appendSpecChar(':l:');">Lyric</button>
          <button class="lyric-edit-btn" type="button" onclick="appendSpecChar('#');">Comment</button>
        </div>

        <div class="lyric-edit-container">
          <textarea class="form-control lyric-text-area" id="lyricForm" name ="lyric"  rows="20" required="required""></textarea>
        </div>

      </div>

      <!-- Song Categories Option -->
      <label for="categories_checkbox">Choose tag(s) for the song:</label>
      <br>
      <label class="checkbox-inline">
        <input type="checkbox" id="categories_checkbox" name="category_id" value="1"> Pop
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="categories_checkbox" name="category_id" value="2"> Jazz
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="categories_checkbox" name="category_id" value="3"> Blues
      </label>
       <label class="checkbox-inline">
        <input type="checkbox" id="categories_checkbox" name="category_id" value="4"> rnb
      </label>
      <br>
      <label class="checkbox-inline">
        <input type="checkbox" id="tag_checkbox" name="category_id" value="5"> Classic
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="tag_checkbox" name="category_id" value="6"> Religious
      </label>
      <br>
      <br>

      <div class="form-group">
        <label for="youtube">Youtube Link:</label>
        <textarea class="form-control" id="youtube" name="youtube" rows="1" placeholder="Write youtube link for the song here"></textarea>
      </div>
      <div class="form-group">
        <label for="itunes">Itunes Link:</label>
        <textarea class="form-control" id="itunes" name="itunes" rows="1" placeholder="Write itunes link for the song here"></textarea>
      </div>
      <div class="form-group">
        <label for="spotify">Spotify Link:</label>
        <textarea class="form-control" id="spotify" name="spotify" rows="1" placeholder="Write spotify link for the song here"></textarea>
      </div>
      <div class="form-group">
        <label for="google_play">Google Play Link:</label>
        <textarea class="form-control" id="google_play" name="google_play" rows="1" placeholder="Write google play link for the song here"></textarea>
      </div>

      <!--Set song as public-->
      <div class="form-group">
        <label for="note_radio">Set your song as public or private:</label>
        <p><i>Set your song as public or private. Public song is discoverable among Croaka users. Set song as private to keep it for yourself.</i></p>
        <label class="radio-inline">
          <input type="radio" name="is_public" id="is_public_radio" checked value="true" required="required">Public
        </label>
        <label class="radio-inline">
          <input type="radio" name="is_public" id="is_public_radio" value="false" required="required">Private
        </label>
      </div>

      <div class="form-group">
        <!--<label for="username">Submitted by:</label>-->
        <textarea class="form-control" id="username" name="song_username" value="{{user.username}}" rows="1" style="display:none;">{{user.username}}</textarea>
      </div>

      <button type="submit" class="btn" value="click" name="song_form_submit">Submit</button>
    </form>

    <script>
        function appendSpecChar(special_char){
            var element = document.getElementById("lyricForm");
            var lines = element.value.split("\n");

            var index = getLineNumber(element, lines);
            if (index < 0){
                console.log("text area is empty");
                return;
            }
            console.log("Index: " + index);



            if(!lines[index]){
                console.log("Empty String!");
            }else if (lines[index].substring(0,1) == ":" && lines[index].substring(2,3) == ":"){
                lines[index] = lines[index].substring(4);
            }else if (lines[index].substring(0,1) == "#") {
                lines[index] = lines[index].substring(2);
            }else{
                lines[index] = special_char + " " + lines[index];
            }

            element.value = lines.join("\n");

        }

        function getLineNumber(el, list){
            var line_number;
            var input_length;
            var i;
            var l = 0;
            var line_number = -1;
            var prev_l = 0;

            var start_cursor = el.selectionStart;
            //var end_cursor = el.selectionEnd;  // TODO: remove this

            console.log("StartCursor: " + start_cursor);

            if (start_cursor == 0){
                return 0;
            }

            for (i=0;i<list.length;i++){
                prev_l = l;
                l += list[i].length + 1;
                if (start_cursor > prev_l && start_cursor < l){
                    line_number=i;
                    break;
                }

            }

            return line_number;

        }

    </script>

{% endblock %}