{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
	<h2 class="sub-header">Your Favourite Songs</h2>
	<div class="table-responsive">
		<table class="table table-striped">
	  		<thead>
	    		<tr>
	    			<th>#</th>
	      			<th>Song Title</th>
	      			<th>Artist</th>
	      			<th>Thumbs</th>
	      			<th>Category</th>
	      			<th>Submitted by</th>
	    		</tr>
			</thead>
	  		<tbody>
				{% for song in songs %}
				<tr>
					<td>{{ forloop.counter }}</td>
					<td><a href="{% url 'song_page' song.data.id %}">{{ song.data.title }}</a></td>
					<td>{{ song.data.artist }}</td>
					<td>{{ song.data.thumbs }}</td>
					<td>{{ song.category.name|capfirst }}</td>
					<td>
						<span class="user-profile-picture-combo">
							<span id="profile-picture-thumb-container">
								{% with song.data.username_id|stringformat:"s" as song_user_id %}
								{% with song.data.username|stringformat:"s" as song_username %}
								<div id="profile-picture-thumb" style="background-image:url({% static 'img/profiles/'|add:song_user_id|add:'_'|add:song_username|add:'.jpg' %});"></div>
								{% endwith %}
								{% endwith %}
							</span>
							<span id="username-container">{{ song.data.username }}</span>
						</span>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock content %}