{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
	<div class="row">
        <h1 class="page-header">Categories</h2>
		<div class="row placeholders">
			{% for c in categories %}
				<div class="col-xs-3 col-sm-2 placeholder">
					<div id="tag-img" style="background-image:url({% static 'img/'|add:c.picture %});">
						<a href="#"><p id="tag-value">{{ c.name|capfirst }}</p></a>
					</div>
				</div>
			{% endfor %}
		</div>

		<h1 class="sub-header">Top Songs</h1>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>Song Title</th>
						<th>Artist</th>
						<th>Thumbs</th>
						<th>Category</th>
						<th>Uploaded By</th>
					</tr>
				</thead>
				<tbody>
					{% for song in top_songs_list %}
					<tr>
						<td>{{ forloop.counter }}</td>
						<td><a href="{% url 'song_page' song.data.id %}">{{ song.data.title }}</a></td>
						<td>{{ song.data.artist }}</td>
						<td>{{ song.data.thumbs }}</td>
						<td>{{ song.category }}</td>
						<td>
							<span class="user-profile-picture-combo">
								<span id="profile-picture-thumb-container">
            				        {% with song.data.username_id|stringformat:"s" as song_user_id %}
									{% with song.data.username|stringformat:"s" as song_username %}
									<div id="profile-picture-thumb" style="background-image:url({% static 'img/profiles/'|add:song_user_id|add:'_'|add:song_username|add:'.jpg' %});"></div>
									{% endwith %}
									{% endwith %}
								</span>
								<span id="username-container">{{ song.data.username }}</span>
							</span>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<br>
		<h1 class="sub-header">Recently Added Songs</h1>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>Song Title</th>
						<th>Artist</th>
						<th>Thumbs</th>
						<th>Category</th>
						<th>Uploaded By</th>
					</tr>
				</thead>
				<tbody>
					{% for song in recent_songs_list %}
						<tr>
							<td>{{ forloop.counter }}</td>
							<td><a href="{% url 'song_page' song.data.id %}">{{ song.data.title }}</a></td>
							<td>{{ song.data.artist }}</td>
							<td>{{ song.data.thumbs }}</td>
							<td>{{ song.category }}</td>
							<td>
								<span class="user-profile-picture-combo">
									<span id="profile-picture-thumb-container">
										{% with song.data.username_id|stringformat:"s" as song_user_id %}
										{% with song.data.username|stringformat:"s" as song_username %}
										<div id="profile-picture-thumb" style="background-image:url({% static 'img/profiles/'|add:song_user_id|add:'_'|add:song_username|add:'.jpg' %});"></div>
										{% endwith %}
										{% endwith %}
									</span>
									<span id="username-container">{{ song.data.username }}</span>
								</span>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<br>
		<h1 class="sub-header">Recently Added Playlists</h1>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>Playlist Title</th>
						<th>Uploaded By</th>
					</tr>
				</thead>
				<tbody>
					{% for playlist in recent_playlists_list %}
						<tr>
							<td>{{ forloop.counter }}</td>
							<td><a href="{% url 'playlist_page' playlist.data.id %}">{{ playlist.data.title }}</a></td>
							<td>
								<span class="user-profile-picture-combo">
									<span id="profile-picture-thumb-container">
										{% with playlist.data.username_id|stringformat:"s" as playlist_user_id %}
										{% with playlist.data.username|stringformat:"s" as playlist_username %}
										<div id="profile-picture-thumb" style="background-image:url({% static 'img/profiles/'|add:playlist_user_id|add:'_'|add:playlist_username|add:'.jpg' %});"></div>
										{% endwith %}
										{% endwith %}
									</span>
									<span id="username-container">{{ playlist.data.username }}</span>
								</span>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock content %}