{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
    <h1>Please enter your credential to log in</h1>
    <hr>

    {% if user.is_authenticated %}
        <p>You're already logged in, {{ user.username }}.</p>
    {% else %}
        <form class="form-horizontal" id="user_form" method="post" action="{% url 'login' %}"
                enctype="multipart/form-data">

            {% csrf_token %}
            <div class="form-group">
                <label class="control-label col-sm-3">Username</label>
                <div class="col-sm-9"><input type="text" name="username" value="" size="30" required="required"/></div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Password</label>
                <div class="col-sm-9"><input type="password" name="password" value="" size="30" required="required"/></div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" name="Login" value="Login">Login</button>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock content %}