{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
    <p>{{message}}</p>

    <script>
        function redirect(){
           window.location.href = "{% url dest_url %}";
        }

        setTimeout(redirect, 2000); // in seconds
    </script>
{% endblock content %}