{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
	<h2 class="sub-header">Your Playlists</h2>
	<div class="row">
		<a class="my-page-add-link" href="#" data-toggle="modal" data-target="#create-playlist-modal">
			<span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
			Add a playlist
		</a>
	</div>

	<div class="table-responsive">
		<table class="table table-striped">
	  		<thead>
	    		<tr>
	      			<th>Playlist Name</th>
	    		</tr>
			</thead>
	  		<tbody>
                {% if playlists %}
                {% for playlist in playlists %}
				<tr>
                    <td>
						<a href="{% url 'playlist_page' playlist_id=playlist.id %}">{{playlist.title}}</a>
					</td>
					<form>
					<td><input type="radio" onclick="set_playlist_public({{ playlist.id }}, 'true');" name="is_public" class="radio_set_playlist_public" {% ifequal playlist.is_public 'true' %}checked{% endifequal %}> Public</td>
					<td><input type="radio" onclick="set_playlist_public({{ playlist.id }}, 'false');" name="is_public" class="radio_set_playlist_private" {% ifequal playlist.is_public 'false' %}checked{% endifequal %}> Private</td>
					</form>
				</tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td><i>You have no playlist</i></td>
				</tr>
                {% endif %}
			</tbody>
		</table>
        <!-- TODO: add create new platlist -->
	</div>


	<div id="create-playlist-modal" class="playlist-modal modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	  <div class="playlist-modal-dialog modal-dialog modal-sm">
		<div class="modal-content playlists-container">
			<button class="close" data-dismiss="modal" data-target=".bs-example-modal-sm">x</button>
			<!-- Display create playlist form -->
			<div class="form-group">
				<label for="new_playlist_name">Create new playlist:</label>
				<textarea class="form-control" id="new_playlist_name"  rows="1" placeholder="write playlist name here" required="required"></textarea>
			</div>
			<button onclick="createPlaylistFromMyPlaylistPage()">Create</button>
		</div>
	  </div>
	</div>


	<script>
		// Script to handle set playlist public button
		function set_playlist_public(playlist_id, is_public){

			$.post("/playlist_updater/",
			{
				playlist_id: playlist_id,
				is_public: is_public,
				action: "set_playlist_public"
			},
			function(data, status){
				if( status == 'success' ) {
					console.log('playlist is set to ' + is_public);
				}else{
					console.log('Error' + status);
				}
			});
		}

	</script>
{% endblock %}