{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <h2 class="sub-header">Profile Info</h2>
    {% if user.is_authenticated %}
    <div class="profile-container container">
        <div class="col-sm-4 col-md-3">
            <div class="profile-picture-container">
                {% if user.profile.picture %}
                {% with user.id|stringformat:"s" as user_id %}
                <div id="profile-picture" style="background-image:url({% static 'img/profiles/'|add:user_id|add:'_'|add:user.username|add:'.jpg' %});"></div>
                {% endwith %}
                {% else %}
                <div id="profile-picture" style="background-image:url({% static 'img/profiles/blank.jpg'%});"></div>
                {% endif %}
                <span id="profile-picture-edit-btn" class="glyphicon glyphicon-camera" onclick="updateProfPic()" aria-hidden="true"></span>
            </div>
            <!-- Hide the form. The button click will be handled by the camera icon -->
            <div style="height:0px;overflow:hidden">
                <form action="{% url 'update_profile' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
                    Select image to upload:
                    <!--<input type="hidden" name="user_id" value="<?= $user_data['id'] ?>">-->
                    <!--<input type="hidden" name="username" value="<?= $user_data['username'] ?>">-->
                    <input type="file" name="picture" id="profile_picture" onchange="this.form.submit()">
                </form>
            </div>
        </div>
        <div class="col-sm-4 col-md-6">
            <div class="profile-info-container">
                <div>
                    <label>Full Name: </label>
                    <span>{{ user.first_name }} {{ user.last_name }}</span>
                </div>
                <div>
                    <label>Username: </label>
                    <span>{{ user.username }}</span>
                </div>
                <div>
                    <label>Email: </label>
                    <span>{{ user.email }}</span>
                </div>
                <div>
                    <label>Date Joined: </label>
                    <span>{{ user.date_joined }}</span>
                </div>
                <div>
                    <label>User Privilege: </label>
                    <span>{{ user.user_permissions }}</span>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <p>Please <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">register</a> to view this page.</p>
    {% endif %}

{% endblock content %}