{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
    <h1>You are a few steps away from discovering the Croaka world!</h1>
    <hr>

    {% if registered %}
    <strong>Thank you for registering!</strong>
    <a href="{% url 'index' %}">Return to the homepage.</a><br />
    {% else %}
    <form class="form-horizontal" id="user_form" method="post" action="{% url 'register' %}"
            enctype="multipart/form-data">

        {% csrf_token %}

        <!-- Display each form. The as_p method wraps each element in a paragraph
             (<p>) element. This ensures each element appears on a new line,
             making everything look neater. -->
        <!--{{ user_form.as_p }}-->
        <!--{{ profile_form.as_p }}-->

        {% for field in user_form %}
            <div class="form-group">
                <label class="control-label col-sm-3" for="{{ field.name }}">{{ field.label }}</label>
                <div class="col-sm-9">{{ field }}</div>
                <div class="col-sm-offset-3 col-sm-9"><span class="help-text">{{field.help_text}}</span></div>
            </div>
        {% endfor %}
        <hr>
        {% for field in profile_form %}
            <div class="form-group">
                <label class="control-label col-sm-3" for="{{ field.name }}">{{ field.label }}</label>
                <div class="col-sm-9">{{ field }}</div>
                <div class="col-sm-offset-3 col-sm-9"><span class="help-text">{{field.help_text}}</span></div>
            </div>
        {% endfor %}

        <!-- Provide a button to click to submit the form. -->
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" name="submit" value="Register">Register</button>
            </div>
        </div>
    </form>
    {% endif %}
{% endblock content %}