{% load staticfiles %}
{% include 'includes/top_navbar.inc.html' %}
{% include 'includes/side_navbar.inc.html' %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="{% static 'img/favicon.ico' %}">

        <title>Croaka</title>

        <!-- Bootstrap core CSS -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
        <link href="{% static 'css/custom_v2.css' %}" rel="stylesheet">

        <!-- Add Google Fonts-->
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans"

        <!-- Script for secure login -->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script type="text/JavaScript" src="{% static 'js/login/sha512.js' %}"></script>
        <script type="text/JavaScript" src="{% static 'js/login/forms.js' %}"></script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

  <body>
    {% block top_navbar %}{% endblock %}

    <div class="container-fluid">
      <div class="row">
        {% block side_navbar %}{% endblock %}
        <div id="DEBUG"></div>
        <div id="main-container">
            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 main">
              {% block content %}
              {% endblock %}
            </div>
            {% if user.is_authenticated %}
            <div id="song-right-ctrl-bar" class="col-sm-3 col-md-3">
                {% block song_ctrl_bar %}
                {% endblock%}
            </div>
            {% block playlist_modal %}
            {% endblock %}
            {% endif %}
        </div>
      </div>
    </div>


    <footer>
		<div class="container footer-container">
			<p>&copy; KitabKord 2015</p>
		</div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->

    <!-- Custom JavaScripts-->
    <script src="{% static 'js/customScript.js' %}"></script>
  </body>
</html>
