{% extends 'song_page_base.html' %}
{% load staticfiles %}


{% block content %}
	{% ifequal song.is_public 'true' %}
	<h1 class="page-header">{{song.title}} - {{song.artist}}</h1>

	<div id='song-lyric-temp'>{{song.lyric}}</div>
	<div id='song-lyric-template'>{{lyric}}</div>
	{% endifequal %}

	{% ifequal song.is_public 'false' %}
	<p>The song you are trying to access is private</p>
	{% endifequal %}

{% endblock %}

{% block song_ctrl_bar %}
	{% ifequal song.is_public 'true' %}
	<ul id="song-ctrl-panel-list">
		<li>
			<iframe class="youtube-video song-ctrl-list" src="https://www.youtube.com/embed/{{ song.youtube }}" frameborder="0" allowfullscreen></iframe>
		</li>
		<li class="song-ctrl-list"><label>Title: </label> {{song.title}}</li>

		{% if song.artist %}
		<li class="song-ctrl-list"><label>Artist(s): </label> {{song.artist}}</li>
		{% endif %}
		{% if song.writer %}
		<li class="song-ctrl-list"><label>Writer: </label> {{song.writer}}</li>
		{% endif %}
		{% if song.album %}
		<li class="song-ctrl-list"><label>Album: </label> {{song.album}}</li>
		{% endif %}
		{% if song.itunes %}
		<li class="song-ctrl-list"><label>Itunes: </label> {{song.itunes}}</li>
		{% endif %}
		{% if song.spotify %}
		<li class="song-ctrl-list"><label>Spotify: </label> {{song.spotify}}</li>
		{% endif %}

		<li class="song-ctrl-list"><label>Category: </label> {{category.name}}</li>
		<!-- song uploader -->
		<li class="song-ctrl-list">
			<label>Uploader: </label>
			<span class="user-profile-picture-combo">
				<span id="profile-picture-thumb-container">
					{% with song.username_id|stringformat:"s" as song_user_id %}
					{% with song.username|stringformat:"s" as song_username %}
					<div id="profile-picture-thumb" style="background-image:url({% static 'img/profiles/'|add:song_user_id|add:'_'|add:song_username|add:'.jpg' %});"></div>
					{% endwith %}
					{% endwith %}
				</span>
				<span id="username-container"> {{ song.username }}</span>
			</span>
		</li>

		<li class="song-ctrl-list"><label>Upload Date: </label> {{song.submit_time}}</li>

		<li class="song-ctrl-list song-note-ctrl">
			<span onclick="changeBaseNote(false, '{{song.root_note.note}}', 0)" class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span id="current-note">{{song.root_note.note}}</span>
			<span onclick="changeBaseNote(false, '{{song.root_note.note}}', 1)" class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		</li>

		<li class="song-ctrl-list" onclick="changeBaseNote(true, '{{song.root_note.note}}', 1)">
			<b class="song-ctrl-btn">Reset Base Note</b>
		</li>

		<li class="song-ctrl-list thumb-ctrl">
			{% if is_thumbed %}
			<span id="user-thumb" onclick="updateThumbsCount({{song.id}})" class="glyphicon glyphicon-thumbs-up" style="color:#78a543;" aria-hidden="true"></span>
			{% else %}
			<span id="user-thumb" onclick="updateThumbsCount({{song.id}})" class="glyphicon glyphicon-thumbs-up" style="color:#333;" aria-hidden="true"></span>
			{% endif %}
			<span id="user-thumbs-count">{{song.thumbs}}</span>
		</li>

		<!-- get song text + chord -->
		<div id="song-target-note-template" style="display:none;">{{song.root_note.note}}</div>
		<li class="song-ctrl-list" onclick="getSongInText('{{song.root_note.note}}', '{{song.title}}', '{{song.artist}}')">
			<b class="song-ctrl-btn">Get Text</b>
		</li>
		<a id="get-text-dl-btn" style="display:hidden;" href="{% static 'docs/song.txt' %}" target="_blank"></a>

		<!-- Small modal for adding playlist -->
		<li class="song-ctrl-list" onclick="getPlaylistsModal({{song.id}})" data-toggle="modal" data-target=".bs-example-modal-sm">
			<b class="song-ctrl-btn">Add Song To Playlist</b>
		</li>


		<!--TODO: Add song tags here-->
		<!--<li class="song-ctrl-list"><ul class="list-inline">';-->
			<!--foreach($song_tags as $tag){-->
				<!--<li>' . $tag["tag_value"] . '</li>-->
			<!--}-->
			<!--</ul></li>-->
		<!--}-->

	</ul>
	{% endifequal %}

{% endblock%}

{% block playlist_modal %}
	{% ifequal song.is_public 'true' %}
	<div class="playlist-modal modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	  <div class="playlist-modal-dialog modal-dialog modal-sm">
		<div class="modal-content playlists-container">
			<button class="close" data-dismiss="modal" data-target=".bs-example-modal-sm">x</button>
			<!-- Get playlists -->
			<div id="playlists-list"></div>
			<hr>
			<!-- Display create playlist form -->
			<div class="form-group">
				<label for="new_playlist_name">Create new playlist:</label>
				<textarea class="form-control" id="new_playlist_name"  rows="1" placeholder="write playlist name here" required="required"></textarea>
			</div>
			<button onclick="createPlaylistModal({{song.id}})">Create</button>
		</div>
	  </div>
	</div>
	{% endifequal %}
{% endblock%}



